.contact{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:80px;
  margin:80px 170px;
}
.contact-title{
  position: relative;
  padding-left: 90px;
}
.contact-title h1{
  padding: 0px 2px;
  font-size: 60px;
  font-weight: 600;

 background: linear-gradient(70deg,#DF8908 30.08%, #B415FF 106%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-section{
  display:flex;
  gap:60px;
}
.contact-left{
  display:flex;
  flex-direction: column;
  gap:20px;
}
.contact-left h1{
  font-size:40px;
  padding-left: px;
  font-weight: 600;
  background: linear-gradient(270deg,#DF8908 80%, #B415FF 106%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .contact-left p{
  max-width: 550px;
  color:#ed6918;
  font-size: 20px;
  line-height: 35px;
} */
.contact-details{
  display: flex;
  flex-direction: column;
  gap:30px;
  color: #f9080c;
  font-size: 22px;
}
.contact-detail{
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
 
}
.contact-right label{ 
  background: linear-gradient(45deg,#DF8908 50.08%,#B415FF 108.06%);
  background-clip:text ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 20px;
  font-weight: 400; */

}
.contact-right input{
  border:none;
  width: 650px;
  height: 78px;
  padding-left: 20px;
  border-radius: 2px;
  background: #32323c;
  color: #A0A0A0;
  font-family: Outfit;
  font-size: 0px;
}
.contact-right textarea{
  width: 600px;
  border: none;
  /* padding: 2px; */
  border-radius: 6px;
  background: #24242d;
  color: #A0A0A0;
  font-family: Outfit;
  /* font-size: 20px; */
}
.contact-submit{
  border:none;
 
  border-radius: 50px;
  background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.08%);
  
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor:pointer;
  transition: 0.4s;
}
.contact-submit:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
@media(max-width:768px){
  .contact{
    gap:50px;
    margin: 50px 70px;
    align-items: start;
  }
  .contact-title h1{
    padding-left:90px;
    font-size: 50px;
    font-weight: 600;
  }
  .contact-section{
    flex-direction: column;
  }
  .contact-left h1{
    font-size: 54px;
    padding-top:0px;
  }
  .contact-left p{
    font-size: 18px;
  }
  .contact-detail{
    gap: 20px;
  }
  .contact-detail img{
    width: 25px;
  }
  .contact-right label{
    font-size: 20px;
    
  }
  .contact-right input{
    width: 100%;
    font-size: 20px;

  }
  .contact-right textarea{
    width: 95%;
    font-size: 20px;
    
  }
  .contact-submit{
    font-size: 20px;
    padding: 15px 40px;
    
  }
  @media(max-width:820px){
    .contact{
      gap:20px;
      margin: 10px 20px;
      align-items: start;
    }
    .contact-title h1{
      padding-left:8px;
      font-size: 40px;
      font-weight: 600;
    }
    .contact-section{
      flex-direction: column;
      
    }
    .contact-left h1{
      font-size: 40px;
      padding-top:0px;
      margin-left: 40px;
      padding-left: 80px;
    }
    .contact-left p{
      font-size: 16px;
    }
    .contact-detail{
      gap: 10px;
    }
    .contact-detail img{
      width: 20px;
    }
    .contact-right label{
      font-size: 16px;
      
    }
    .contact-right input{
      width: 95%;
      font-size: 16px;
  
    }
    .contact-right textarea{
      width: 90%;
      font-size: 16px;
      
    }
    .contact-submit{
      font-size: 16px;
      padding: 10px 20px;
      
    
  }
  
}

  
  @media (max-width:480px) {
    .contact{
      gap:10px;
      margin: 20px 30px;
      align-items: start;
    }
    .contact-title h1{
      padding-left:8px;
      font-size: 36px;
      font-weight: 600;
    }
    .contact-section{
      flex-direction: column;
    }
    .contact-left h1{
      font-size: 36px;
      padding-top:0px;
    }
    .contact-left p{
      font-size: 16px;
    }
    .contact-detail{
      gap: 8px;
    }
    .contact-detail img{
      width: 15px;
    }
    .contact-right label{
      font-size: 16px;
      
    }
    .contact-right input{
      width: 90%;
      font-size: 16px;
  
    }
    .contact-right textarea{
      width: 90%;
      font-size: 16px;
      
    }
    .contact-submit{
      font-size: 16px;
      padding: 10px 20px;
      
    
  }
  
}}
