.footer{
  margin:50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.footer-top{
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}
.footer-top-left p{
  /* font-size: 20px;
  padding-top: 2px;
  max-width: 400px; */
  font-family: Outfit;
}
.footer-top-right{
  display: flex;
  
  align-items: center;
  gap: 36px;
}
.footer-email-input{
  /* display: flex;
  gap: 60px;
  padding: 10px 20px;
  width: 80px; */
  border-radius: 50px;
  background: #323238;
  padding-right: 80px;
}
.footer-email-input input{
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outline;}
  /* font-size: 18px;
} */
.footer-subscribe{
  font-size: 20px;
  /* padding: 10px 10px;
  width: 120px; */
  border-radius: 50px;
  background: linear-gradient(264deg,#df8908 -5.09%, #B415FF 106.08%);
  cursor: pointer;
  transition: 0.4s;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-family: system-ui;
  
}
.footer-bottom-right{
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  font-family: system-ui;
}

.footer-email-input:hover{
  border: 2px solid rgb(245, 244, 242);
}
.footer-subscribe:hover{
  transform: scale(1.2);
  transition: 0.4s;
}
@media(max-width:768px){
  .footer{
    margin:50px 60px;
  }
  .footer-top{
    padding-top: 2px;
    flex-direction: column;
    gap:20px;
    
  }
  .footer-bottom-left{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    font-family: system-ui;
    font-size: 20px;
    padding-left: 40px;
  }
  .bottom-right{
    font-family: system-ui;
    font-size: 20px;
    grid-template-rows: 2fr;
  }
  @media (max-width:480px) {
    .footer{
      margin:20px 30px;
    }
    .footer-top{
      padding-top: 1px;
      flex-direction: column;
      font-family: system-ui;
      font-size: 4px;
    
      
    }
    .footer-top-left p{
      font-size: 14px;
    }
    .footer-email-input input{
      font-size: 14px;
      border-radius: 40px;
    }
    .footer-subscribe{
      font-size: 14px;
      border-radius: 40px;
      padding: 10px 10px 8px 8px;
    }
    .footer-bottom-left{
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 10px;
      font-family: system-ui;
      font-size: 14px;
      padding-left: 20px;
    }
    .bottom-right{
      font-family: system-ui;
      font-size: 14px;
      grid-template-columns: 2fr;
      gap:10px;
    }
    
  }
  }
