.services{
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;
  gap:80px;
   margin: 80px 120px; 
  position:relative;
  z-index: 1;
  
}
.services-title{
  position: relative;
  padding-left: 90px;
}
.services-title h1{
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
  background: linear-gradient(270deg,#DF8908 0.36%,#B415FF 106%);
  background-clip: text;
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.services-format{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
   /* padding: 40px 20px 20px 40px ;  */
  border-radius: 10px;
  border: 2px solid white;
  min-height: 200px;
  margin-bottom: 10px;
 

}
.services-format:hover{
  transform: scale(1.2);
  transition: 0.4s;
}
/* .services-container{
  display:grid;
  grid-template-columns:  1fr 1fr;
justify-content: center;
  width:20px;
  
  gap:40px;
  margin-bottom: 80px;
  
  
} */
.services-format h3{
  font-size: 28px;
  font-weight: 600;
}
.services-format h2{
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(270deg,#DF8908 50%,#B415FF 100%);
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-format p{
  color: #d4d4d4;
  font-size: 24px;
  line-height: 40px;
  max-width: 300px;
}
.services-format:hover{
 border: 2px solid #ff00ff;
 background-image: linear-gradient(45deg,#ce3696,#4f270b);
 transform:scale(1.05);
 transition: 0.4s;
}
@media(max-width:768px){
  .services{
    align-items: center; 
    gap:40px;
    
    justify-content: center;
    
  }
  .services-title h1{
    padding-left: 180px;
    font-size: 50px;

  }
  .services-format{
    gap:20px;
    
    padding: 30px;
    padding-left: 40px;
    
    justify-content: center;
  }
  .services-format h2{
    font-size: 28px;
  }
  .services-format p{
    font-size: 18px;
    line-height: 32px;
    max-width: 300px;
  }
  .services-container{
    grid-template-columns: 1fr 1fr;
    gap:30px;
    margin-left: 280px;
    justify-content: center;
  }
  @media  (max-width:480px){
    .services{
      align-items: start;
      gap:20px;
      
      margin:0 3%;
      
    }
    .services-title h1{
      padding-left: 0px;
      font-size: 36px;
  
    }
    .services-format{
      gap:8px;
      margin-right: 120px;
      
      
  
      justify-content: center;
    }
    .services-format h2{
      font-size: 18px;
    }
    .services-format p{
      font-size: 16px;
      line-height: 16px;
      max-width: 304px;
    }
    .services-container{
      grid-template-columns: 1fr 1fr;
  
    
    
    
  }
  
}}




