.mywork {
  
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 80px;
margin: 80px 170px;


}
.mywork-title{
  position: relative;
  padding-left: 90px;
}
    /* .mywork-title h1{
      padding: 0px 30px;
      /* font-size: 40px;
      font-weight: 600; */
      /* background: linear-gradient(270deg,#DF8908 50%,#B415FF 100%);
      background-clip:text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    } */ */

/* .mywork-container {
  display:grid;
  grid-template-columns:  1fr 1fr;
  gap:40px;
  
} */
/* .mywork-container img{
  box-sizing: border-box;
  width: 400px;
  height: 100%;
  transition: 0.4s;
  cursor: pointer;
} */
.mywork-container img:hover{
  transform:scale(1.10);
  border: 4px solid #dc8b11;
  border-radius: 10px;
  transition: 0.4s;
}
.mywork-showmore{
  display:flex;
  gap:14px;
  border-radius: 40px;
  border:2px solid white;
  padding: 20px 50px;
  font-size: 22px;
  margin-bottom: 80px;
  transition: 0.6s;
  cursor:pointer;
}
.mywork-showmore:hover{
  gap:30px;
  transition: 0.6s;
}
@media(max-width:768px){
  .mywork{
    gap:20px;
    margin: 50px 70px;
    align-items: start;
  }
  .mywork-title h1{
    padding-left:90px;
    font-size: 50px;
    font-weight: 600;
  }
  .mywork-container{
    grid-template-columns:  1fr 1fr;
    gap:30px;
  }
  .mywork-container img{
    width:100%;
    height: 100%;
  }
  .mywork-showmore{
    padding: 20px 40px;
    font-size: 18px;
    margin: 50px auto;
    cursor: pointer;
  }
  @media (max-width:540px) {
    .mywork{
      gap:28px;
      margin: 46px 34px;
      align-items: start;
    }
    .mywork-title h1{
      padding-left:20px;
      font-size: 30px;
      font-weight: 600;
    }
    .mywork-container{
      grid-template-columns:  1fr 1fr;
      gap:36px;
    }
    .mywork-container img{
      width:100%;
      height: 100%;
    }
    .mywork-showmore{
      padding: 14px 26px;
      font-size: 20px;
      margin: 56px auto;
      cursor: pointer;
    }
  }
  @media(max-width:480px)
  {
    .mywork{
      gap:18px;
      margin: 40px 30px;
      align-items: start;
    }
    .mywork-title h1{
      padding-left:8px;
      font-size: 26px;
      font-weight: 600;
    }
    .mywork-container{
      grid-template-columns:  1fr 1fr;
      gap:30px;
    }
    .mywork-container img{
      width:100%;
      height: 100%;
    }
    .mywork-showmore{
      padding: 10px 20px;
      font-size: 18px;
      margin: 50px auto;
      cursor: pointer;
    }
  }
}